  .product-card {
    min-height:425px;
  }
  
  .product-card-img {
    height: 200px; 
    object-fit:cover;
  }

  .crop-text-3 {
    -webkit-line-clamp: 3;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }