<div class="container pb-5">
    <div class="d-flex justify-content-center mb-3">
        <div class="col-md-10 text-right">
            <div class="btn-group dropleft">
                <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Sorted by <span class="sort-link">{{ property }}</span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#" (click)="setSortProperty('title')">Title</a>
                    <a class="dropdown-item" href="#" (click)="setSortProperty('description')">Description</a>
                    <a class="dropdown-item" href="#" (click)="setSortProperty('price')">Price</a>
                    <a class="dropdown-item" href="#" (click)="setSortProperty('email')">Email</a>
                </div>
            </div>

            <span class="align-self-center" *ngIf="order" (click)="setSortCriteria(order = !order)">
                <i class="fas fa-sort-up"></i>
            </span>
            <span class="align-self-center" *ngIf="!order" (click)="setSortCriteria(order = !order)">
                <i class="fas fa-sort-down"></i>
            </span>
        </div>
    </div>
</div>