<div class="row mt-5">
    <div class="col-12">
        <p>Sort by: </p>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="title"
                (change)="setSortProperty($event.target.value)">
            <label class="form-check-label" for="inlineRadio1">Title</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="description"
                (change)="setSortProperty($event.target.value)">
            <label class="form-check-label" for="inlineRadio2">Description</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="price"
                (change)="setSortProperty($event.target.value)">
            <label class="form-check-label" for="inlineRadio3">Price</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="email"
                (change)="setSortProperty($event.target.value)">
            <label class="form-check-label" for="inlineRadio4">Email</label>
        </div>
        <span (click)="setSortCriteria(order = !order)"><i class="fas fa-sort"></i></span>
    </div>
</div>