<div class="container">
  <div class="d-flex justify-content-center">
    <div class="col-md-10 pl-0 pr-0">
      <nav class="navbar navbar-expand-lg navbar-light pl-0 pr-0">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
          aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="assets/img/doge.png" width="35" /> The Great Item Manager!</a>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0)" (click)="openFavsModal()"><span>Favs #<i
                    class="fas fa-heart"></i></span></a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>